html, body{
  max-width:100%;
  overflow-x:hidden;
}
#main-cover{
  text-align: center;
  height: 100vh;
  text-align: left;
  background: none;
}
#corTactics{
  transition:1s;
}
#navbrand:hover{
 border-bottom: none;
}
.navbar-brand{
  padding:0;
}
.main-container{
  background:rgba(255,255,255,1);
  padding-bottom:20px;
}
#service-icons img{
  width:50%;
}
#title-header{
  color:white;
  text-align: center;
  background:rgba(22, 22, 22, 0.937);
  padding: 50px;
  margin-top:10%;
  height:50%;
  
  margin-bottom:10%;
}

#cor{
  margin-top:20px;
  animation: .9s ease-out 0s 1 slideInFromLeft;
  color:#ff3838;
  font-size: 140px;
  font-family: 'Oswald', sans-serif;
  line-height: .7em;
    
}
#tactics{
  animation: 1s ease-out 0s 1 slideInFromRight;
  color:#545454;
  font-size: 80px;
  font-family: 'Oswald', sans-serif;
  
}

#title-header #welcome-to{
  font-weight: 400;
  letter-spacing: .1em;

}
#title-header p{
  font-weight:200;
  font-size: 1.2em;
}
#title-header strong{
  font-weight:900;
}
#image-description{
  background:white;
}

#title-header button{
  border-radius: 0%;
  background: rgba(0,0,0,.2);
  border: #ff3838 solid 1px;

}
#title-header button:hover{
  background: rgba(0,0,0,1);
}


#headshot-main{
  height:80vh;
  background-image: url("images/dave-headshot1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media only screen and (max-width: 600px) {
  #headshot-main{
    max-height: 40vh;
    float:none;
    margin-left:auto;
    margin-right:auto;
  }
}
video#bgVideo {
  position: absolute;
  z-index: 0;
  background: url("images/TR-Valve\ case\ GIR.mp4") no-repeat;
  background-size: 100% 100%;
  top: 0px;
  left: 0px; /* fixed to left. Replace it by right if you want.*/
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: fixed;
  z-index: -1;
}

#services-container .container{
  border:1px solid #454545; 
  padding:20px; 
  margin:20px auto;
}
#services-container .row{
  margin-bottom:50px; 
  text-align: center;
}
#services-container p{
  text-align: left;
}
#services-container img{
  padding:20px;
}
#services-container button{
  margin-bottom:20px;

}
#services-container .btn:hover{
  background:#454545;
  color:white;
  
}
#services-container .btn:focus{
  outline:none !important;
  box-shadow:none;
  
}
ul{
  margin-left:15px;
}
.navbar{
  background-color :#545454 !important;
  font-weight: 400;
  position: fixed;
  width:100vw;
  z-index: 100;
}

.navbar a{
  color: white !important; 


}
.navbar li{
  padding: 10px;

}

#main-title{
  margin-top: 30px !important;
  color: white;

}
.navbar a:hover{
  /* border-bottom: solid 1px #ff3838; */
  color:black !important;
}

footer{
  background:#545454;
  color: white;
  font-weight: 700;
}
footer a{
  font-style: bold;
  color:white;
}

footer a:hover{
  color:#ff3838;
}
#footer-title{
  border-bottom: 2px solid #ff3838;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 30px;

}
/*
.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
} */

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 100px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  color:#545454;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
  color:#545454;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
#contact-page{
  background-color: #545454;
  color:white;
  
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}